<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="socket-id"></div>
    <input type="text" class="name">
    <button class="add">Chat</button>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/socket.io.js"></script>
    
    <script src="/js/app.js"></script>
  </body>
</html>
